@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'S-CoreDream-4Regular';
}
.body{
    background-color: hsl(202, 100%, 96%);
    padding-bottom: 10%;
}

.title{
    font-family: 'S-CoreDream-9Black';
    font-size: 30px;
    display: block;
    padding-top: 18%;
    padding-left: 18%;
    margin-bottom: 1%;
}
#text2 {
    display: block;
    font-size: 17px;
    padding-left: 18%;
}
#bt1, #bt2 {
    font-size: 18px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 12px;
    padding: 1rem 1rem;
}
#bt1{ 
    margin-left: 17%;
    width: 100px;
    height: 50px;
}

#bt2{
    margin-left: 2%;
}

#bt1:link, #bt2:link{
    color: #000;
}

#bt1:visited, #bt2:visited{
    color: #000;
}

/* image css */
#image{
    position: absolute;
    display: block;
    right: 130px;
    top: 150px;
    border-radius: 25%;
}

/* 인기 보물 css */
#popular{
    font-family: 'S-CoreDream-4Regular';
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 28px;
}