{% extends 'base.html' %}
{% load static %}
{% block title %} login {% endblock %}
{% block link %} {% static 'login.css' %}{% endblock %}
{% block content %}

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <h1 class="title">로그인</h1>

    <div class="content">
        <div class="login">
            <input type="text" id="id" name="username" placeholder="아이디"><br>
            <input type="password" id="password" name="password" placeholder="비밀번호"><br>
        </div>
    </div>

    <button id="button">로그인</button><br>
    <a id="signup" href="{% url 'signup' %}">회원가입</a>
    <p>{{error}}</p>
</form>
{% endblock %}