{% extends 'base.html' %}
{% load static %}
{% block title %} signup {% endblock %}
{% block content %}
<h1 style="text-align: center;">회원가입</h1>
<form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="signup-div">
        <br>
        <p>아이디</p>
        <input class="signup" type="text" name="username" placeholder="아이디" required><br>
        <br>
        <p>비밀번호</p>
        <input class="signup" type="password" name="password" placeholder="비밀번호" required><br>
        <br>
        <p>별명</p>
        <input class="signup" type="text" name="nickname" placeholder="별명" required><br>
        <br>
        <label>프로필 이미지 선택</label><br>
        <input class="signup" type="file" name="profileImg" accept="image/*" required><br>
        <br>
        <button>회원가입</button>
    </div>
</form>
{% endblock %}