{% extends 'base.html' %}
{% load static %}
{% block title %} signup {% endblock %}
{% block link %} {% static 'css/signup.css' %}{% endblock %}
{% block content %}

<h1 class="signup-title">회원가입</h1>


<form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- wrapper -->
    <div id="wrapper">

        <!-- content-->
        <div id="content">

            <!-- ID -->
            <div>
                <h3 class="join_title">
                    <label for="id">아이디</label>
                </h3>
                <span class="box int_id">
                    <input class="int" type="text" name="username" placeholder="아이디" maxlength="20" required><br>
                </span>
            </div>

            <!-- PW -->
            <div>
                <h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
                <span class="box int_pass">
                    <input class="int" type="password" name="password" placeholder="비밀번호" maxlength="20" required><br>
                </span>
            </div>

            <!-- NAME -->
            <div>
                <h3 class="join_title"><label for="nickname">별명</label></h3>
                <span class="box int_name">
                    <input class="int" type="text" name="nickname" placeholder="별명" maxlength="20" required><br>
                </span>
            </div>

            <!-- profileImg -->
            <div>
                <h3 class="join_title"><label for="nickname">프로필이미지</label></h3>
                <span class="box int_img">
                    <input class="int" type="file" name="profileImg" accept="image/*"  maxlength="20" required>
                </span>
            </div>

            <!-- JOIN BTN-->
            <div class="btn_area">
                <button id="btnJoin">
                    가입하기
                </button>
            </div>                
        </div> 
    </div> 
</form>
{% endblock %}