{% extends 'base.html' %}
{% load static %}
{% block title %} detail {% endblock %}
{% block link %} {% static 'css/detail.css' %}{% endblock %}
{% block content %}

<div class="wrap">
    <div>
    <img src="{{item.image.url}}" width="400" height="400">
    </div>
    <div class="box">
        <p>물품이름 : {{item.title}}</p>
        <p style="font-size: 10px;">{{item.pub_date}} / {{item.author}}</p><br>
        <p>{{item.body}}</p>
    </div>
</div>
<br>
<br>
<button id="button">좋아요</button>
<br>
<br>
<div class="value">
    <p>찐품명품 가치</p>
    <p>{{item.value}}</p>
</div>
<div class="wrap_value">
    <div class="down">
        <p class="down_">Down</p>
    </div>
    <p id="count">0</p>
    <div class="up">
        <p class="up_">Up</p>
    </div>
</div>

<br>
<hr>
<Br>
<!-- 댓글 달기 / 댓글 보기 -->
    <h5 style="text-align: center;">댓글</h5>
    <br>
    {% if user.is_authenticated %}
        <form action="{% url 'create_comment' item.id user.username %}" method="POST" style="text-align: center;">
            {% csrf_token %}
            <textarea name="content" cols="100" row="30"></textarea>
            <button type="submit" style="border-radius: 20px; background-color: hsl(202, 100%, 96%);">작성</button>
        </form>
    {% endif %}
    {% for comment in item.comment_set.all %}
        <div class="comment_box">
                <h5>작성자 : {{ comment.writer }}<br>
                <sub class="comment-date">{{ comment.date }}</sub></h5>
            <h5><div class="user-comment">{{ comment.content|linebreaksbr }}</div></h5>
        </div>
        {% if user == comment.writer %}
        <div class="comment-delete">
            <a href="{% url 'delete_comment' item.id comment.id %}">
                <button class="comment-delete-button">삭제</button>
            </a>
        </div>
        {% endif %}
    {% endfor %}

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
        <!--
        if (typeof jQuery == 'undefined')
            alert("가치 매기기 오류!");
        else
            alert("물품에 대한 가치 기기 필수 !");
        -->
    var counter = 0;

    $(".up").click(function(){
    counter+=10;
    $("#count").text(counter);
    });

    $(".down").click(function(){
    counter-=10;    
    $("#count").text(counter);
    });

</script>


{% endblock %}