{% extends 'base.html' %}
{% load static %}
{% block js %}<script src="{% static 'js/detail.js' %}"></script>{% endblock %}
{% block title %} detail {% endblock %}
{% block link %} {% static 'css/detail.css' %}{% endblock %}
{% block content %}

<div class="wrap">
    <div>
    <img src="{{item.image.url}}" width="400" height="400">
    </div>
    <div class="box">
        <h3>[ {{item.title}} ]</h3>
        <p style="font-size: 12px; padding-top:2%">{{item.pub_date}} / {{item.author}}</p><br>
        <p>{{item.body}}</p>
    </div>
</div>
<br>
<br>
<div style="text-align: center;">
<h5>찐품명품 가치</h5>
<p id="countValue">{{item.value}}</p>
<div class="wrap_value">
    {% csrf_token %}
    <button id="down" class="button" value="down" name="{{item.id}}">down</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button id="up" class="button" value="up" name="{{item.id}}">Up</button>
</div>
</div>

<!-- 확인버튼 눌러서 해당 페이지 redirect하기 -> counter을 모델의 value값으로 보내기-->

<br>
<hr>
<br>
<!-- 댓글 달기 / 댓글 보기 -->
    <h5 style="text-align: center;">댓글</h5>
    <br>
    {% if user.is_authenticated %}
        <form action="{% url 'create_comment' item.id user.username %}" method="POST" style="text-align: center;">
            {% csrf_token %}
        <div class="btn">
            <textarea name="content" cols="100" rows="3"></textarea> &nbsp;&nbsp;
            <button class="comment-btn" style="border-radius: 20px; background-color: hsl(202, 100%, 96%);">작성</button>
        </div>
        </form>
    {% endif %}
    {% for comment in item.comment_set.all %}
            <div class="comment-user" style="display: flex;">
                <h5>작성자 : {{ comment.writer }}
            {% if user.is_authenticated %}
                {% if user.username == comment.writer %}
                    <button class="comment-delete-button"><a href="{% url 'delete_comment' item.id comment.id %}">삭제</a></button>
                {% endif %}
            {% endif %}
            </div>
            <h5><div class="user-comment">{{ comment.content|linebreaksbr }}</div></h5>
    {% endfor %}

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
        
        if (typeof jQuery == 'undefined')
            alert("가치 매기기 오류!");
        else{
            alert("현재 {{item.title}}의 가치는 <<{{item.value}}>> 입니다.");
        }
        
    var counter=0;

    $(".up").click(function(){
    counter+=10;
    $("#count").text(counter);
    });

    $(".down").click(function(){
    counter-=10;    
    $("#count").text(counter);
    });

</script>


{% endblock %}