{% extends 'base.html' %}
{% load static %}
{% block js %}<script src="{% static 'js/detail.js' %}"></script>{% endblock %}
{% block title %} detail {% endblock %}
{% block link %} {% static 'css/detail.css' %}{% endblock %}
{% block content %}

<div class="wrap">
    <div>
    <img src="{{item.image.url}}" width="400" height="400">
    </div>
    <div class="box">
        <h4>[ {{item.title}} ]</h4>
        <p style="font-size: 12px; padding-top:2%">{{item.pub_date}} / {{item.author}}</p><br>
        <p>{{item.body}}</p>
        {% if user.is_authenticated %}
        {% if user == item.author %}
        <div style="display: flex; text-align:center;" >
            <div class="area">
        
            <button  class="btn-u"><a href="{% url 'edit' item.id %}">수정</a></button>
        </div>
        &nbsp;
        <div class="area">
            <button class="btn-d"><a href="{% url 'delete' item.id %}">삭제</a></button>
        </div>
    </div>
    {% endif %}
    {% endif %}
    </div>
</div>
<br>
<br>
<div style="text-align: center;">
<h5>찐품명품 가치</h5>
<p id="countValue">{{item.value}}</p>
<div class="wrap_value">
    {% csrf_token %}
    <button id="down" class="button" value="down" name="{{item.id}}">down</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button id="up" class="button" value="up" name="{{item.id}}">Up</button>
</div>
</div>

<!-- 확인버튼 눌러서 해당 페이지 redirect하기 -> counter을 모델의 value값으로 보내기-->

<br>
<hr>
<br>
<!-- 댓글 달기 / 댓글 보기 -->
    <h5 style="text-align: center;">댓글</h5>
    <br>
    {% if user.is_authenticated %}
        <form action="{% url 'create_comment' item.id user.username %}" method="POST" style="text-align: center;">
            {% csrf_token %}
        <div class="btn">
            <textarea name="content" cols="100" rows="3"></textarea> &nbsp;&nbsp;
            <button class="comment-btn" style="border-radius: 20px; background-color: hsl(202, 100%, 96%);">작성</button>
        </div>
        </form>
    {% endif %}
    <br>
    {% for comment in item.comment_set.all %}
            <div class="comment-user">
                <p style="font-size: 16px; font-weight: bold">{{ comment.writer }}</p>
            {% if user.is_authenticated %}
                {% if user.username == comment.writer %}
                <div style="display:flex; padding-left: 45%">
                    <p class="delete-a"><a href="{% url 'update_comment' item.id comment.id %}">댓글 수정</a></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <p class="delete-a"><a href="{% url 'delete_comment' item.id comment.id %}">댓글 삭제</a></p>
                </div>
                {% endif %}
            {% endif %}
            </div>
            <div class="user-comment"><p>{{ comment.content|linebreaksbr }}</p></div>
            <hr>
            {% endfor %}
{% endblock %}