{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block link %} {% static 'css/new.css' %}{% endblock %}
{% block content %}

<h2 class="signup-title">수정 후, 저장해주세요!</h2>
<br>
<form method="POST" action="{% url 'edit' item.id %}" enctype="multipart/form-data">
{% csrf_token %}
    <div class="signup">
        <div>
            <p>물건명 : &nbsp;<input class="int" type="text" name="title" style="width: 300px;" value={{item.title}} required></p>
        </div>
        <br>
        <div class="body-div">
            <div class="body">
            <p>설명 : &nbsp;</p>
                <textarea name="body" cols="36" rows="6">{{item.body}}</textarea>
            </div>
        </div>
        <br>
        <div>
            <p>물건 이미지 :
                {% if item.image %}
                    <img src="{{item.image.url}}" width="200" height="200"> 
                {% endif %}
            <br>
            <!-- 물건 이미지 수정
                <input class="int" type="file" name="image" accept="image/*"></p>
            -->
        </div>
    </div>
    <div class="btn_area">
        <button class="btnpost">수정하기</button>
    </div>
</form>
{% endblock %}