{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block link %} {% static 'css/home.css' %}{% endblock %}

{% block content %}

<content>
    <div class="content">
        <div class="text">
            <span>우리집 숨겨진 보물의</span><br>
            <span>가치는 얼마일까요?</span><br>
            <span id="text2">쓸모없다고 생각한 물건!</span>
            <span id="text2">지금 바로 가치를 확인해보세요.</span>
            <div class="buttons">
                <a href="#" id="bt1">찐품명품 보기</a>
                <a href="#" id="bt2">가치 측정하기</a>
            </div>
        </div>

        <div  id="service_image">
            <p><img src="" alt="서비스이미지" width="500" height="400"></p> 
        </div>
    </div>

    <hr size="3px">

    <h2 id="popular">실시간 인기 보물</h2>
</content>  

{% endblock %}