{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block link %} {% static 'css/home.css' %}{% endblock %}

{% block content %}

    <div class="body">
        <div class="text">
            <span class="title">우리집 숨겨진 보물의<br>가치는 얼마일까요?</span>
            <span id="text2">쓸모없다고 생각한 물건!</span>
            <span id="text2">지금 바로 가치를 확인해보세요.</span><br>
            <a href="{% url 'search' %}" id="bt1">찐품명품 보기</a>
            <a href="{% url 'create' %}" id="bt2">보물 등록하기</a>
        </div>
        <div>
            <img src="{% static 'img/home.jpg' %}" alt="x" id="image" width="700" height="500">
        </div>
    </div>

    <h2 id="popular">실시간 인기 보물</h2>

    <div class="list_wrap">
        <ul>
        {% for item in items %}
          <div class="item">
            <a href="{% url 'detail' item.id %}">
            <p><img class="img" src="{{ item.image.url }}" alt="없음" width="230" height="230"></p>
            <p>{{item.title}}</p><br>
            <p style="font-size: 13px;">{{item.pub_date}}<br>
                조회 : {{item.clickCount}}회</p>
            </a>
          </div>
          {% endfor %}
        </ul>
        <div class="page">
            {% if items.has_previous %}
                <a href="?page={{items.previous_page_number}}"><</a>
            {% endif %}
              {% if items.has_next %}
              <a href="#"></a>
              {% endif %}
              
              <span>{{items.number}}</span>
              <span>of</span>
              <span>{{items.paginator.num_pages}}</span>
              
              {% if items.has_previous %}
              <a href="#"></a>
              {% endif %}
              {% if items.has_next %}
              <a href="?page={{ items.next_page_number}}">></a>
              {% endif %}
              </div>
        </div>

{% endblock %}