{% extends 'base.html' %}
{% load static %}
{% block title %} Product List {% endblock %}
{% block link %} {% static 'css/list.css' %}{% endblock %}

{% block content %}

    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
            <div class="search">
                <span class="search_title">가치가 궁금한 찐품명품을 검색해주세요!</span><br>
                <input  id="search_item" type="text" name="search_word" placeholder="검색어를 입력하세요">
                <button id="search_button">검색</button>
            </div>
            <div class="order">
                <input type="checkbox" name="value[]" id="orderTime" value="11">
                <label for="orderTime">등록 순 정렬</label>
                
                <input type="checkbox" name="value[]" id="orderName" value="12">
                <label for="orderName">이름 순 정렬</label>
                
                <input type="checkbox" name="value[]" id="orderCount" value="13">
                    <label for="orderCount">인기 순 정렬</label>

                <input type="checkbox" name="value[]" id="orderValues" value="14">
                    <label for="orderValue">높은 가치 순 정렬</label>
            </div>
    </form>

    <hr size="3px">

    <h1 class="title"> 측정 중인 찐품명품 </h1>


    {% if search_word %}
        <!-- 검색어가 있을 때 -->
        <span class="search_result"><strong>{{search_word}}</strong>에 대한 검색 결과입니다.</span>
    {% else %}
        <!-- <span>검색어를 입력하세요.</span> -->
    {% endif%}

    <div class="list_wrap">
        <ul>
        {% for product in products %}
          <div class="item">
            <a href="{% url 'detail' product.id %}">
            <p><img class="img"  src="{{ product.image.url }}" alt="없음" width="230" height="230"></p>
            <p>{{product.title}}</p><br>
            <p style="font-size: 13px;">{{product.pub_date}}<br>
                조회 : {{product.clickCount}}회</p>
            </a>
          </div>
          {% endfor %}
        </ul>

        <div class="page">
        {% if products.has_previous %}
            <a href="?page={{products.previous_page_number}}"><</a>
        {% endif %}
          {% if products.has_next %}
          <a href="#"></a>
          {% endif %}
          
          <span>{{products.number}}</span>
          <span>of</span>
          <span>{{products.paginator.num_pages}}</span>
          
          {% if products.has_previous %}
          <a href="#"></a>
          {% endif %}
          {% if products.has_next %}
          <a href="?page={{ products.next_page_number}}">></a>
          {% endif %}
          </div>
        </div>
{% endblock %}